.best-sell-page{
  height: 100%;
  margin: 20px -300px;
  .best-sell-title{
    color: darkcyan;
    font-family: Google Sans;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .best-sell-content{
    background-color: white;
    padding: 20px 15px;
    .short-content{
      font-family: Google Sans;
      padding: 20px 50px;
      font-size: 18px;
    }
    .div-chart{
      padding: 20px;
      div{
        height: 600px;
        width: 1000px;
      }
    }
  }
}

.logo-brand{
  height: 40px;
  width: 60px;
}